html {
    overflow-y: scroll;
}
html, body{
    height: 100%;
}
body{
    font-family: 'Open Sans', sans-serif;
}
#wrapper {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto -52px; /* the bottom margin is the negative value of the footer's height */
}
#wrapper nav {
    margin-bottom: 0;
    border-radius: 0;
}
footer, .push {
    height: 52px; /* .push must be the same height as .footer */
}
.footer-content {
    border: 1px solid #e7e7e7;
    border-bottom: none;
    background: #f8f8f8;
    line-height: 49px;
}

.small-muted {
    font-size: 12px;
    color: #AAA;
}

#page-install h1{
    font-family: 'Open Sans', sans-serif;
    font-size: 40px;
    font-weight: 300;
    text-transform: uppercase;
    color: #555;
    margin: 50px 0 30px 0;
}
#page-install h1 a{
    display: inline-block;
    color: #7DB4B5;
    border-bottom: 1px solid #7DB4B5;
}
#page-install h1 a:hover, h1 a:focus{
    color: #7DB4B5;
    border-color: #fff;
    text-decoration: none;
}
#page-install h2 {
    font-family: 'Open Sans', sans-serif;
    font-size: 24px;
    font-weight: 300;
    text-transform: uppercase;
}

#page-install .tooltip{
    min-width: 200px;
}
#page-install .tooltip .tooltip-inner{
    font-size: 12px;
    text-align: left;
    padding: 5px 8px 5px 10px;
}
#page-install .panel .recaptcha-tip{
    margin-bottom: 20px;
}

/*Form Wizard*/
.bs-wizard {border-bottom: solid 1px #e0e0e0; padding: 0 0 10px 0;}
.bs-wizard > .bs-wizard-step {padding: 0; position: relative;}
.bs-wizard > .bs-wizard-step + .bs-wizard-step {}
.bs-wizard > .bs-wizard-step .bs-wizard-stepnum {color: #595959; font-size: 16px; margin-bottom: 5px;}
.bs-wizard > .bs-wizard-step .bs-wizard-info {color: #999; font-size: 14px;}
.bs-wizard > .bs-wizard-step > .bs-wizard-dot {position: absolute; width: 30px; height: 30px; display: block; background: #fbe8aa; top: 45px; left: 50%; margin-top: -15px; margin-left: -15px; border-radius: 50%;}
.bs-wizard > .bs-wizard-step > .bs-wizard-dot:after {content: ' '; width: 14px; height: 14px; background: #fbbd19; border-radius: 50px; position: absolute; top: 8px; left: 8px; }
.bs-wizard > .bs-wizard-step > .progress {position: relative; border-radius: 0px; height: 8px; box-shadow: none; margin: 20px 0;}
.bs-wizard > .bs-wizard-step > .progress > .progress-bar {width:0px; box-shadow: none; background: #fbe8aa;}
.bs-wizard > .bs-wizard-step.complete > .progress > .progress-bar {width:100%;}
.bs-wizard > .bs-wizard-step.active > .progress > .progress-bar {width:50%;}
.bs-wizard > .bs-wizard-step:first-child.active > .progress > .progress-bar {width:0%;}
.bs-wizard > .bs-wizard-step:last-child.active > .progress > .progress-bar {width: 100%;}
.bs-wizard > .bs-wizard-step.disabled > .bs-wizard-dot {background-color: #f5f5f5;}
.bs-wizard > .bs-wizard-step.disabled > .bs-wizard-dot:after {opacity: 0;}
.bs-wizard > .bs-wizard-step:first-child  > .progress {left: 50%; width: 50%;}
.bs-wizard > .bs-wizard-step:last-child  > .progress {width: 50%;}
.bs-wizard > .bs-wizard-step.disabled a.bs-wizard-dot{ pointer-events: none; }
/*END Form Wizard*/

/*css statistics*/
  body {
    padding-top: 15px;
    font-size: 12px
  }
  .main {
    max-width: 320px;
    margin: 0 auto;
  }
  .login-or {
    position: relative;
    font-size: 18px;
    color: #aaa;
    margin-top: 10px;
            margin-bottom: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .span-or {
    display: block;
    position: absolute;
    left: 50%;
    top: -2px;
    margin-left: -25px;
    background-color: #fff;
    width: 50px;
    text-align: center;
  }
  .hr-or {
    background-color: #cdcdcd;
    height: 1px;
    margin-top: 0px !important;
    margin-bottom: 0px !important;
  }
  h3 {
    text-align: center;
    line-height: 300%;
  }